	#comics-container{
		width:940px;
		height:auto;
		margin:auto;
		background-color:white;
		display:table;
	}
	#comics-container>h1{
		line-height:1em;
		padding:20px 0;
		color:black;
		font-family:TradeGothic;
		font-weight:bold;
	}
	.comicdiv{
		float:left;
		height:auto;
		margin:20px;
		width:168px;
	}
	img.comics
	{
		border-color:#bababa;
		border-top-width:1px;
		border-left-width:1px;
		border-bottom-width:5px;
		border-right-width:5px;
		border-style:solid;
		width:168px;
		height:252px;
	}
	span.author
	{
		color:grey;
		font-weight:bold;
	}
	@media only screen and (max-width: 939px) and (min-width: 0){
		#comics-container{
		width:95%;
		height:auto;
		}
	}
